.cards {
  &__container {
    width: auto;
    position: relative;

    .header-container {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to bottom, #6054e4, #9284ff);
      padding: 30px 16px 16px;
      border-radius: 0 0 30px 30px;
    }

    .page-title {
      color: rgb(255, 255, 255);
      font-size: 20px;
      margin-bottom: 10px;
      font-stretch: expanded;
      text-align: center;
      font-weight: 600;
      font-family: 'SF Pro Text', normal;
    }

    .balance {
      height: auto;
    }

    .balance-text-edit-button {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;
    }

    .edit-icon {
      height: 20px;
      width: 20px;
      margin-top: 7px;
      opacity: 0.6;
    }

    .edit-link {
      width: 32px;
      height: 32px;
      margin-top: -10px;
    }

    .balance-label {
      font-size: 16px;
      color: rgb(255, 255, 255, 0.6);
      font-family: 'SF Pro Text', normal;
      font-weight: 500;
    }

    .balance-edit-entry {
      margin-top: -2px;
      width: 70%;
      height: 59px;
      font-size: 46px;
      font-family: 'SF Pro Text', sans-serif;
      font-weight: 600;
      color: white;
      border: 1px solid white;
      outline: none;
      background-color: transparent;
      border-radius: 10px;
      box-sizing: border-box;
    }

    .balance-edit-entry:focus {
      border-color: white;
      outline: none;
    }

    .balance-amount {
      font-size: 46px;
      font-weight: 600;
      color: rgb(255, 255, 255);
      font-family: 'SF Pro Text', normal;
    }

    .expenses-income-sum {
      height: 60px;
      display: flex;
      flex-direction: column;
      background: #1c1c1c;
      margin: 16px 14px;
      padding: 20px;
      border-radius: 20px;
    }

    .page-title1 {
      font-size: 20px;
      font-family: 'SF Pro Text', normal;
      font-weight: bold;
      color: #ffffff;
    }

    .page-title2 {
      font-size: 19px;
      margin-top: 2px;
      padding-left: 5px;
      font-family: 'SF Pro Text', normal;
      color: #7160ff;
    }

    .page-title3 {
      font-size: 19px;
      margin-top: 2px;
      padding-left: 5px;
      font-family: 'SF Pro Text', normal;
      color: #60ff75;
    }

    .analitic-graphic {
      height: 200px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      background: linear-gradient(to bottom, #8b7dff, #4f42bd);
      margin: 16px 14px 160px 14px;
      padding: 16px 10px 12px;
      border-radius: 20px;
      gap: 3px;
    }

    .day-column {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: rgba(255, 255, 255, 0.6);
      width: 30%;
      min-width: 8px;
      padding: 14px;
      padding-bottom: 8px;
      border-radius: 10px;
      font-family: 'SF Pro Text', normal;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);

      &.active {
        background: white;
        color: black;
        box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      }
    }

    .graphic-name-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 14px 16px;
    }

    .graphic-date-selector {
      font-size: 19px;
      margin-top: 2px;
      margin-left: 5px;
      padding-left: 5px;
      font-family: 'SF Pro Text', normal;
      color: #7160ff;
    }

    .opacity {
      opacity: 0.5;
    }

    .expenses-income-sum1,
    .expenses-income-sum2 {
      display: flex;
    }
  }
}