@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
}

.cards {
  &__container {
    width: auto;
    position: relative;

    .header-container {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to bottom, #6054e4, #9284ff);
      padding: 30px 16px 16px;
      border-radius: 0 0 30px 30px;
    }

    .page-title {
      color: rgb(255, 255, 255);
      font-size: 20px;
      margin-bottom: 10px;
      font-stretch: expanded;
      text-align: center;
      font-weight: 600;
      font-family: 'SF Pro Text', normal;
    }

    .balance {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .balance-label {
      font-size: 16px;
      color: rgb(255, 255, 255, 0.6);
      font-family: 'SF Pro Text', normal;
      font-weight: 500;
    }

    .balance-amount {
      font-size: 46px;
      font-weight: 600;
      margin-top: 2px;
      color: rgb(255, 255, 255);
      font-family: 'SF Pro Text', normal;
    }

    .add-expense-button {
      display: block;
      width: 95%;
      height: 6.40vh;
      margin: 1.9vh auto 0;
      padding: 0;
      font-size: 17px;
      font-weight: 600;
      color: white;
      background: linear-gradient(to right, #6054e4, #9284ff);
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-family: 'SF Pro Text', bold;
      text-align: center;
      line-height: 6.65vh;

      &:hover {
        filter: brightness(1.2);
      }

      &:active {
        filter: brightness(0.9);
      }
    }

    .expenses-income-sum {
      display: flex;
      flex-direction: column;
      background: #1C1C1C;
      margin: 16px 14px;
      padding: 20px;
      border-radius: 20px;
      justify-content: flex-start;
    }
    
    .page-title1 {
      font-size: 20px;
      font-family: 'SF Pro Text', normal;
      font-weight: bold;
      color: #ffffff;
    }
    
    .page-title2 {
      font-size: 19px;
      margin-top: 2px;
      padding-left: 5px;
      font-family: 'SF Pro Text', normal;
      color: #7160FF;
    }

    .page-title3 {
      font-size: 19px;
      margin-top: 2px;
      padding-left: 5px;
      font-family: 'SF Pro Text', normal;
      color: #60FF75;
    }

    .analitic-graphic{
      height: 200px;
      display: flex;
      flex-direction: row;
      align-items: end;
      background: linear-gradient(to bottom, #8B7DFF, #4F42BD);
      margin: 16px 14px;
      padding: 16px 10px 12px;
      border-radius: 20px;
      gap: 3px;
    }

    .day-column {
      display: flex;
      background: rgb(255, 255, 255, 0.6);
      width: 20px;
      padding: 14px;
      padding-bottom: 8px;
      border-radius: 10px;
      font-family: 'SF Pro Text', normal;
      font-size: 12px;
      align-items: end;
      justify-content: center;
      color: rgba(0, 0, 0, 0.7);

      &.active {
        background: white;
        color: black;
        box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      }
    }

    .graphic-name-container {
      display: flex;
      flex-direction: row;
      margin: 14px 16px;
    }

    .opacity {
      opacity: 0.5;
    }
    
    .expenses-income-sum1,
    .expenses-income-sum2 {
      display: flex;
    }

  }

}
