body {
  background: #111111;
  margin: 0;
}

@font-face {
  font-family: 'Gogh';
  src: url('@assets/fonts/Gogh-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'GoghRegular';
  src: url('@assets/fonts/Gogh-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('@assets/fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
}

input,
textarea,
select,
button {
  touch-action: manipulation;
}

.loader {
  width: 100%;
  height: calc(100vh - 165px);
  display: flex;
  align-items: center;
  justify-content: center;
}
