<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSpace</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="content">
            <div class="entry">
                <p>Вход с помощью логина</p>
            </div>
            <div class="inputs">
                <div class="input inputLogin">
                    <input type="text" class="textInput login" placeholder="Логин">
                </div>
                <div class="input inputPassword">
                    <input type="text" class="textInput password" placeholder="Пароль">
                </div>
                <div class="button">
                    <button class="entryButton">
                        <p>Войти</p>
                    </button>
                </div>
            </div>
            <div class="registration">
                <p>Ещё нет аккаунта? Регистрация</p>
            </div>
        </div>
    </div>
</body>
</html>