* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #111111;
    width: 100vw;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 31.5vh;
}

.entry{
    display: flex;
    justify-content: center;
}

.entry p{
    width: 426px;
    height: 41px;
    font-size: 34px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.24px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-align: center;
}

.inputLogin {
 margin-top: 32px;
}

.inputPassword{
    margin-top: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: center;
}

.textInput{
    width: 450px;
    height: 54px;
    border-radius: 10px;
    background-color: #1f1f1f;
    border: 0;
}

.textInput::placeholder{
    width: 61px;
    height: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    opacity: 50%;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.button {
    display: flex;
    justify-content: center;
}

.entryButton{
    background-color: #7160FF;
    border-radius: 10px;
    width: 450px;
    height: 54px;
    margin-top: 24px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryButton p{
    width: 221px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.registration {
    display: flex;
    justify-content: center;
}

.registration p {
    width: 278px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.24px;
    margin-top: 32px;
    color: #7160FF;
    text-align: center;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}