.analitic__tabs__container {
  .analitic__tabs__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .analitic__tabContent {
    background: #1c1c1c;
    padding: 20px;

    .analitic__tabContent__header {
      display: flex;
      justify-content: flex-start;
    }

    .analitic__tab__category {
      margin: 12px 3px;
      font-family: GoghRegular, sans-serif;
      width: 93%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition:
        background-color 0.3s,
        border 0.3s;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background: #7160ff;
      }
    }
  }

  .arrow {
    position: absolute;
    right: 90.5%;
    top: 10%;
    width: 18px;
    height: 18px;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
    background-image: url('@assets/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
}

.analitic__inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.analitic__inputWrapper input {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(35, 35, 35, 1);
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(113, 96, 255, 1);
  border-radius: 10px;
  width: 100%;
  color: white;
  padding: 20px;
  font-size: 17px;
  padding-right: 50px;
}

.analitic__inputWrapper input::placeholder {
  color: gray;
  font-size: 17px;
}

.currency {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 17px;
  pointer-events: none;
  font-family: 'SF Pro Text', bold;
}
