<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSpace</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="content">
            <div class="entry">
                <p>Вход</p>
            </div>
            <div class="buttons">
                <div class="button">
                    <button class="apple">
                        <div class="appleApple">
                            <div class="logoApple">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRsP-EH-Fc-gjQMFgxj4g1pkFGVCK8Y2deHA&s" width="24px" height="24px">
                            </div>
                            <div class="appleText">
                                <p>Apple</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="button">
                    <button class="google">
                        <div class="googleGoogle">
                            <div class="logoGoogle">
                                <img src="https://icon2.cleanpng.com/20240216/fty/transparent-google-logo-flat-google-logo-with-blue-green-red-1710875585155.webp" width="24px" height="24px">
                            </div>
                            <div class="googleText">
                                <p>Google</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="button">
                    <button class="login">
                        <p>Войти с помощью логина</p>
                    </button>
                </div>
            </div>
            <div class="loginToAccount">
                <p>Уже есть аккаунт? Войти</p>
            </div>
        </div>
    </div>
</body>
</html>