.analitic {
  &__container {
    width: calc(100vw - 40px);
    height: calc(62.66vw - 25.06px);
    margin-left: 20px;
    background-image: url('@assets/imgs/analiticBG.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5vw;

    &__place {
      display: flex;
      width: calc(100% - 20px);
      margin-left: 10px;
      height: calc(40vw - 16px);
      margin-top: 14px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      align-items: flex-end;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      flex: 0 0 auto;
      height: 100%;
      width: 27px;
      background: #7268e5;
      border-radius: 5px;
      margin-right: 10px;

      &.active {
        background: #fff; // Белый цвет для активного элемента
      }
    }

    &__sum {
      display: flex;
      width: calc(100% - 20px);
      margin-left: 10px;
      justify-content: space-between;
    }
  }

  &__cardName {
    display: flex;
    width: calc(100vw - 60px);
    text-align: right;
    height: 15%;
    justify-content: right;
    align-items: center;
  }

  &__tabs {
    &__container {
      width: calc(100vw - 40px);
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 180px;
    }
  }

  &__tab {
    &__category {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__tab1 {
    width: 50%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    position: relative;
  }

  &__tab2 {
    width: 50%;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-top-right-radius: 2vw;
  }

  &__tabContent {
    background: #1c1c1c;
    padding: 20px;
  }

  &__planning {
    &__button {
      width: calc(100vw - 40px);
      height: 55px;
      max-height: 70vh;
      background: #5c4ce3;
      position: fixed;
      margin-left: 20px;
      bottom: 110px;
      border-radius: 15vw;
      transition:
        height 0.5s ease,
        border-radius 0.5s ease;
      overflow: hidden;

      &__text {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__flex {
      display: flex;
      justify-content: center;
      align-items: top;
    }

    &__container {
      width: 90%;
      height: calc(70vh - 79px);
      margin-left: 5%;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
    }

    &__limits {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 5px !important;
    }

    &__limit-input {
      width: 80px;
    }

    &__submit-button {
      background-color: #fff !important;
      color: #5c4ce3 !important;
      width: 100% !important;
      margin-top: auto !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}
