@font-face {
  font-family: 'SFProText-Regular';
  src: url('@assets/fonts/SFProText-Regular.ttf') format('truetype');
}

.mobile-menu {
  z-index: 999;

  &__nav {
    z-index: 999;
    background: rgba(17, 17, 17, 0.95);
    margin: 0;
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    height: 90px;
    padding-bottom: env(safe-area-inset-bottom);

    &__menu-list {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0 5% 0 5%;
    }

    &__item {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'SFProText-Regular', sans-serif;
      font-size: 12px;
      font-weight: 700;
    }

    .icon-container {
      width: 66px;
      height: 66px;
      background-color: #7268e5;
      background-image: url('@assets/imgs/plus_icon.png');
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: -34px;
      border-radius: 38px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 42px;
    height: 60px;
    margin: 0 auto;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #808080;
    transition: color 0.1s ease;

    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 0;
      padding-bottom: 8px;
    }

    &--cards::before {
      background-image: url('@assets/imgs/home_page.png');
    }

    &--analitic::before {
      background-image: url('@assets/imgs/stats_icon.png');
    }

    &--profile::before {
      background-image: url('@assets/imgs/profile_icon.png');
    }

    &--cards.active::before {
      background-image: url('@assets/imgs/home_page_active.png');
    }

    &--analitic.active::before {
      background-image: url('@assets/imgs/stats_active_icon.png');
    }

    &--profile.active::before {
      background-image: url('@assets/imgs/profile_active_icon.png');
    }

    &--active {
      color: #7268e5;
    }
  }
}
