<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSpace</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="content">
            <div class="registration">
                <p>Регистрация</p>
            </div>
            <div class="inputs">
                <div class="input inputLogin">
                    <input type="text" class="textInput login" placeholder="Логин">
                </div>
                <div class="input inputPassword">
                    <input type="text" class="textInput password" placeholder="Пароль">
                </div>
                <div class="input inputSecondPassword">
                    <input type="text" class="textInput password" placeholder="Повторите пароль">
                </div>
                <div class="center">
                    <div class="agreement">
                        <div class="checkbox">
                            <input type="checkbox" class="styled-checkbox">
                        </div>
                        <div class="agreementText">
                            <p>Ознакомлен с пользовательским соглашением</p>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="registrationButton" onclick="checkPasswords()">
                        <p>Регистрация</p>
                    </button>
                </div>
            </div>
            <div class="entry">
                <p>Уже есть аккаунт? Войти</p>
            </div>
        </div>
    </div>
</body>
</html>