* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #111111;
    width: 100vw;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 31.5vh;
}

.registration{
    display: flex;
    justify-content: center;
}

.registration p{
    width: 226px;
    height: 41px;
    font-size: 34px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.24px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-align: center;
}

.inputLogin {
 margin-top: 32px;
}

.inputPassword{
    margin-top: 15px;
}

.inputSecondPassword{
    margin-top: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: center;
}

.textInput{
    width: 450px;
    height: 54px;
    border-radius: 10px;
    background-color: #1f1f1f;
    border: 0;
}

.textInput::placeholder{
    width: 149px;
    height: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    opacity: 50%;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.center{
    display: flex;
    justify-content: center;
}

.agreement{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.styled-checkbox {
    appearance: none; 
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid #7160FF;
    background-color: #232323;
    cursor: pointer;
    position: relative;
    margin-top: 32px;
  }
  
  .styled-checkbox:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.agreementText{
    width: 410px;
    height: 20px;
    font-weight: 400;
    margin-top: 32px;
    text-decoration:underline;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #7160FF;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.button {
    display: flex;
    justify-content: center;
}

.registrationButton{
    background-color: #7160FF;
    border-radius: 10px;
    width: 450px;
    height: 54px;
    margin-top: 32px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationButton p{
    width: 221px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.entry {
    display: flex;
    justify-content: center;
}

.entry p {
    width: 218px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.24px;
    margin-top: 32px;
    color: #7160FF;
    text-align: center;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}