<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSpace</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="content">
            <div class="reLogin">
                <p>Подтверждение входа</p>
            </div>
            <div class="code">
                <div class="inputs">
                    <div class="input">
                        <input type="text" class="textInput">
                    </div>
                    <div class="input">
                        <input type="text" class="textInput">
                    </div>
                    <div class="input">
                        <input type="text" class="textInput">
                    </div>
                    <div class="input">
                        <input type="text" class="textInput">
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="codeText">
                    <p>Для подтверждения входа введите 4-значный код, <br> котрый был отправлен на почту</p>
                </div>
            </div>
            <div class="button">
                <button class="confirmButton">
                    <p>Подтвердить</p>
                </button>
            </div>
            <div class="reSend">
                <p>Повторно отправить код можно будет через 59 сек.</p>
            </div>
        </div>
    </div>
</body>
</html>