*{
    padding: 0;
    margin: 0;
}

.bottomPart{
    display: flex;
    flex-direction: row;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: row;
}

.sideBar {
    width: 223px;
    background-color: #1c1c1c;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.menu{
    width: 129px;
    height: 135px;
    margin-top: 30px;
}

.home{
    width: 129px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home p{
    height: 25px;
    width: 94px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.24px;
    color: #FFF;
}

.accounts{
    width: 90px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
}

.accounts p{
    height: 25px;
    width: 55px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.24px;
    color: #FFF;
}

.profile{
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
}

.profile p{
    height: 25px;
    width: 85px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.24px;
    color: #FFF;
}



.mainPart{
    display: flex;
    flex-direction: row;
}

.arrow{
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: #1c1c1c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.balance{
    width: 414px;
    height: 114px;
    border-radius: 20px;
    background: linear-gradient(#4F42BD, #8B7DFF);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.balanceText{
    width: 336px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 39px;
}

.balanceText p{
    width: 123px;
    height: 24px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
    opacity: 50%;
    
}

.balanceNumberOfRubles{
    width: 336px;
    height: 54px;
    margin-left: 39px;
}

.balanceNumberOfRubles p{
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    /* Этот шрифт выглядит не как в макете */
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -0.24px;
    color: #FFF;
}

.line{
    width: 910px;
    height: 1px;
    border: 1px #1c1c1c;
    margin-top: 12px;
    background-color: #1c1c1c;
    margin-left: -60px;
}

.add{
    margin-top: 12px;
    width: 414px;
    height: 54px;
}

.addButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0;
    background-color: #7160FF;
    width: 414px;
    height: 54px;
}

.addButton p{
    width: 84px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
    margin-left: 10px;
}

.plus{
    width: 18px;
    height: 18px;
}

.importExport{
    width: 414px;
    height: 94px;
    border-radius: 30px;
    background-color: #1c1c1c;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.img {
    height: 24px;
    width: 24px;
}

.export{
    width: 177px;
    height: 54px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid #FF6060;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.priceExport{
    width: 71px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FF6060;
    text-align: center;
}

.bynExport{
    width: 35px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FF6060;
    opacity: 50%;
}

.import{
    width: 177px;
    height: 54px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #12B730;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.priceImport{
    width: 71px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
    text-align: center;
}

.bynImport{
    width: 35px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
    opacity: 50%;
}

.analitics{
    width: 414px;
    height: 600px;
    background-color: #1C1C1C;
    border-radius: 30px;
    margin-top: 20px;
}

.title{
    width: 374px;
    height: 30px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.titleText{
    height: 24px;
    width: 111px;
}

.titleText p{
    height: 24px;
    width: 111px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.24px;
    color: #FFF;
}

.calendar{
    width: 30px;
    height: 30px;
}

.columnChart{
    width: 374px;
    height: 197px;
    border-radius: 20px;
    background: linear-gradient(#8B7DFF, #4F42BD);
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.weekDays{
    width: 364px;
    height: 146px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-top: 40px;
}

.columnInChart{
    background-color: #FFF;
    opacity: 40%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}

.weekDaysNames{
    opacity: 50%;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.24px;
    color: #000;
}

.monday{
    width: 45px;
    height: 112px;
}

.monday p{
    width: 17px;
    height: 14px;
}

.tuesday{
    width: 45px;
    height: 71px;
}

.tuesday p{
    width: 14px;
    height: 14px;
}

.wednesday{
    width: 45px;
    height: 117px;
}

.wednesday p{
    width: 17px;
    height: 14px;
}

.thursday{
    width: 45px;
    height: 91px;
}

.thursday p{
    width: 15px;
    height: 14px;
}

.friday{
    width: 45px;
    height: 117px;
}

.friday p{
    width: 16px;
    height: 14px;
}

.saturday{
    width: 45px;
    height: 83px;
}

.saturday p{
    width: 17px;
    height: 14px;
}

.sunday{
    width: 45px;
    height: 146px;
    opacity: 100%;
}

.sunday p{
    width: 15px;
    height: 14px;
    opacity: 100%;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.24px;
    color: #000;
}

.infoBlock{
    width: 176px;
    height: 45px;
    border-radius: 10px;
    background-color: #1C1C1C;
    position: absolute; 
    z-index: 2;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBlockContent{
    width: 162px;
    height: 33px;
    display: flex;
    flex-direction: row;
}

.infoBlockName p{
    width: 58px;
    height: 18px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.24px;
    color: #FFF;
    margin-left: 3px;
}

.infoBlockByn{
    height: 18px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.24px;
    color: #FFF;
    opacity: 50%;
    display: flex;
    justify-content: end;
}

.infoBlockMoney{
    width: 65px;
    height: 33px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.infoBlockCount{
    height: 18px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.24px;
    color: #FFF;
    display: flex;
    justify-content: end;
}

.circleChart{
    width: 374px;
    height: 295px;
    background: linear-gradient(#8B7DFF, #4F42BD);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.circleChartBlock{
    position: relative;
    width: 264px;
    height: 264px;
    margin: auto;
}

.circleChartElements{
    position: absolute;
    z-index: 1;
}

.expenses{
    width: 396px;
    height: 429px;
    background-color: #1C1C1C;
    border-radius: 30px;
    margin-left: 20px;
}

.titleExpenses p{
    width: 89px;
    height: 24px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.24px;
    color: #FFF;
    margin-top: 20px;
    margin-left: 20px;
}

.itemExpenses{
    width: 356px;
    height: 45px;
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.itemExpensesLogoName{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameExpenses p{
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
}

.moneyExpenses{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.bynExpenses{
    display: flex;
    justify-content: end;
}

.bynExpenses p{
    width: 35px;
    height: 20px;
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    opacity: 50%;
    color: #FFF;
}

.countMoneyExpenses p{
    font-family: 'SF Pro Text',-apple-system, BlinkMacSystemFont, Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: -0.24px;
    color: #FFF;
    text-align: end;
}

.countMoneyExpenses{
    width: 75px;
    height: 20px;
}

.nameExpenses{
    width: 200px;
    height: 20px;
    margin-left: 12px;
}

.food{
    margin-top: 23px;
}

